{
  "eslintIntegration": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "proseWrap": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 110,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all"
}
